.cards {
    margin: 1rem;
}
.section-title{
    margin: 50px;
}
.features{
  text-align: center;
  padding-top: 200px;
  
}
.propous{
  padding-top: 250px;
  padding-bottom: 200px;
}
.propous-text{
  margin: 50px;
  padding-bottom: 200px;
}
.card {
    width: 24rem;
    float: left;
    margin: 1rem;
    padding: 15px;
    border-radius: 10px;
    background: radial-gradient(circle, #1bb1dc, #413e66 );
    border: black;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: white;
    font-weight: bold;
    height: 210px;
    transition-duration: 0.5s;
    
    
}
p {
    margin-bottom: 2px;
}


.card:hover {
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.8);
    transform: scale(1.15);
    
    
}
.buttonVaga{
  text-align: center;
  display: inline-block;
  padding: 14px;
  width: 150px;
  margin: 7px;
  color: #ffffff;
  background-color: #36a2eb;
  border-radius: 8px;
  font-family: "proxima-nova-soft", sans-serif;
  font-weight: 600;
  text-decoration: none;
  transition: box-shadow 200ms ease-out;
  border: 0;
}

@supports (display: grid) {
    .cards {
        margin: 0;
    }

    .cards {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-gap: 1rem;
    }


}

/*-------------------------------------------------------------*/

@import url("https://fonts.googleapis.com/css?family=Inconsolata:700");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}





.container .search {
  position: center;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 10;
  left: 0;
  width: 80px;
  height: 80px;
  background: #413e66;
  border-radius: 50%;
  transition: all 1s;
  z-index: 4;
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.4);
  margin-bottom: 20px;
}
.container .search:hover {
  cursor: pointer;
}
.container .search::before {
  content: "";
  position: absolute;
  margin: auto;
  top: 22px;
  right: 0;
  bottom: 0;
  left: 22px;
  width: 12px;
  height: 2px;
  background: white;
  transform: rotate(45deg);
  transition: all 0.5s;
}
.container .search::after {
  content: "";
  position: absolute;
  margin: auto;
  top: -5px;
  right: 0;
  bottom: 0;
  left: -5px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 2px solid white;
  transition: all 0.5s;
}
.container input {
  font-family: "Inconsolata", monospace;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 80px;
  height: 80px;
  outline: none;
  border: none;
  background: #413e66;
  color: white;
  text-shadow: 0 0 10px #1bb1dc;
  padding: 0 80px 0 20px;
  border-radius: 30px;
  box-shadow: 0 0 25px 0 #1bb1dc, 0 20px 25px 0 rgba(0, 0, 0, 0.2);
  transition: all 1s;
  opacity: 0;
  z-index: 5;
  font-weight: bolder;
  letter-spacing: 0.1em;
}
.container input:hover {
  cursor: pointer;
}
.container input:focus {
  width: 300px;
  opacity: 1;
  cursor: text;
}
.container input:focus ~ .search {
  right: -250px;
  background: #151515;
  z-index: 6;
}
.container input:focus ~ .search::before {
  top: 0;
  left: 0;
  width: 25px;
}
.container input:focus ~ .search::after {
  top: 0;
  left: 0;
  width: 25px;
  height: 2px;
  border: none;
  background: white;
  border-radius: 0%;
  transform: rotate(-45deg);
}
.container input::placeholder {
  color: white;
  opacity: 0.5;
  font-weight: bolder;
}